@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-text {
    @apply text-[#FFFFFF] font-montserrat font-bold text-sm;
}

.navbar-text {
    @apply text-[#737373] font-montserrat font-bold text-sm;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
  .animation-delay-600 {
    animation-delay: 0.6s;
  }
  .animation-delay-1200 {
    animation-delay: 1.2s;
  }
  .animation-delay-1800 {
    animation-delay: 1.8s;
  }
}

p {
  margin: 0;
  padding: 0;
}
  